.Select-value {
    background-color: #2f6db0 !important;
    border-color: #2f6db0 !important;
    color: #ffffff !important;
}

.Select-value-label {
    color: #ffffff !important;
}

.Select-value-icon {
    color: rgba(255,255,255,0.7) !important;
    border-color: rgba(255,255,255,0.3) !important;
}

.VirtualizedSelectOption {
    background-color: #ffffff !important;
    color: #252a31 !important;
}

.VirtualizedSelectFocusedOption {
    background-color: rgba(47,109,176,.09) !important;
    color: #2f6db0 !important;
}
