.Select-value {
    background-color: #2a3f5f !important;
    border-color: #2a3f5f !important;
    color: #ffffff !important;
}

.Select-value-label {
    color: #ffffff !important;
}

.Select-value-icon {
    color: #8899aa !important;
    border-color: #2a3f5f !important;
}

.VirtualizedSelectOption {
    background-color: #212d45 !important;
    color: #ffffff !important;
}

.VirtualizedSelectFocusedOption {
    background-color: #2a3f5f !important;
}
